{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="d-flex justify-content-center align-items-center">
    <h1>hi</h1>
</section>
{% endblock %}
