.user{
    &__header{
        img{
            aspect-ratio: 1/1;
            height: 8rem;
            object-fit: cover;
        }
    }
    main{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        img {
            object-fit: cover;
            aspect-ratio: 6/7;
            border-radius: 5%;
            margin: 15px;
            transition: all .5s ease;
        }
        img:hover{
            transform: scale(1.05);
        }
    }
}