.nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: solid white 1px;

    a {
        padding: .5rem 1rem;
    }

    a:hover,
    ion-icon:hover {
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }

    &__links {
        display: flex;
        align-items: center;

        &__brand {
            display: flex;
            align-items: center;
        }

        &__items {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 1rem;
        }
        @media screen and (max-width: 768px) {
            &__items {
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vh;
                margin: 0;
                background: rgba($color: #080717, $alpha: 0.9);
                visibility: hidden;
                opacity: 0;
                transition: all 1s ease;
                &.active{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &__utils {
        display: flex;
        align-items: center;
        &__hamburger{
            display: none;
            background: transparent;
            border: none;
            padding: 0.5rem 1rem;
            z-index: 99;
            .line {
                fill: none;
                stroke: currentColor;
                stroke-width: 6;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .line1 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            
            .line2 {
                stroke-dasharray: 60 60;
                stroke-width: 6;
            }
            
            .line3 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            .opened{
                .line1 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
                .line2 {
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }
                .line3 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
            }
        }
        @media screen and (max-width: 768px) {
            &__hamburger {
                display: flex;
            }
        }
    }
}