.nav {
    a:hover,
    ion-icon:hover {
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }

    &__links {
        &__items {
            list-style: none;
            margin: 0;
            margin-left: 1rem;
        }
        @media screen and (max-width: 768px) {
            &__items {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                margin: 0;
                background: rgba($color: #080717, $alpha: 0.9);
                visibility: hidden;
                opacity: 0;
                transition: all 1s ease;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                font-size: 1.5rem;
                &.active{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &__utils {
        img{
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        &__search{
            &__bar{
                font-size: 1.5rem;
                input{
                    outline: none;
                }
            }
            &__user{
                img{
                    height: 1.5rem;
                }
            }
        }
        &__hamburger{
            display: none;
            .line {
                fill: none;
                stroke: currentColor;
                stroke-width: 6;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .line1 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            
            .line2 {
                stroke-dasharray: 60 60;
                stroke-width: 6;
            }
            
            .line3 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            &.opened{
                .line1 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
                .line2 {
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }
                .line3 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
            }
        }
        @media screen and (max-width: 768px) {
            &__hamburger {
                display: flex;
            }
        }
    }
}