section{
    @media screen and (max-width: 768px) {
        width: 90%;
    }
    width: 80%;
    margin: auto    ;
}
.post {
    img {
        //aspect-ratio: 3/1;
        max-height: 700px;
    }
    @media screen and (max-width: 768px) {
        img {
            aspect-ratio: 3/2;
        }
    }

    &__wrappper {
        img {
            aspect-ratio: 1/1;
        }

        &__com {
            height: fit-content;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

            body[data-bs-theme=dark] & {
                box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
            }
        }
    }

    p {
        margin-bottom: 2px;
    }

    &__overlay {
        img {
            aspect-ratio: 1/1;
        }
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        /* couleur d'arrière-plan semi-transparente */
        color: white;
        /* couleur du texte */
        padding: 20px;
        /* marge intérieure pour le contenu */
        box-sizing: border-box;
    }

}
.comment-icon{
    max-width: 25px;
    height: 25px;
}

#container_popup{
    
}

#container_popup {
    display: none;
    max-width: 800px ;
    textarea{
        width: 100%;
        height: 70%;
    }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond avec une opacité de 0.5 (pour une semi-transparence) */
    width: 100%; /* Largeur de la div */
    height: 200px; /* Hauteur de la div */
    text-align: center; /* Centrer le texte */
    padding: 20px; /* Espacement interne */
    z-index: 1000; /* Valeur Z pour s'assurer que la div est au-dessus des autres éléments */
}
