$body-bg: #E9E8F8;
$body-color: #090717;
$primary: #8E87D9;
$secondary: #C8C5ED;
$body-tertiary-bg: #4137AE;

$body-bg-dark: #080717;
$body-color-dark: #EAE8F8;
$primary-dark: #2D2678;
$secondary-dark: #15123B;
$body-tertiary-bg-dark: #5B51C8;

@import "~bootstrap/scss/bootstrap";

a{
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh
}

ion-icon{
    contain: none;
}