{{ encore_entry_link_tags('modalpost_css') }}

<ion-icon name="add-outline" class="modal-btn btn btn-primary position-fixed" data-bs-toggle="modal" data-bs-target="#modalPost" ></ion-icon>
  
<div class="modal fade" id="modalPost" tabindex="-1" aria-labelledby="modalPostLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalPostLabel">Ajouter un post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form enctype='multipart/form-data' method="post" action={{ path('post_add') }}>
            <div class="mb-3">
              <label for="img" class="form-label">Image</label>
              <input name="img" class="form-control" type="file" id="img">
            </div>            
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input name="description" type="text" class="form-control" id="description" placeholder="Un beau fruit">
            </div>            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>