{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
<section class="auth d-flex justify-content-center align-items-center">
    <div class="auth__container p-3 bg-light h-100 w-50 d-flex flex-column align-items-center justify-content-center rounded-start">
        <form class="d-flex flex-column w-100 px-3">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <button id="switch" class="btn btn-link">Pas de compte ?</button>
    </div>
</section>
{% endblock %}
