{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block links %}
    {{ encore_entry_link_tags('404_css') }}
{% endblock %}

{% block body %}
<section class="notfound d-flex align-items-center justify-content-center">
    <div title="404">404</div>
</section>
{% endblock %}